<section class="mainWrapper">
	
		
	<div class="col-md-6 col-md-offset-3"><center><h1 class="aboutHeader">DublinBikes Web Application</h1></center></div>

	<div class="col-md-offset-2 col-md-8">
		<section class="aboutInfo">
			<p>There is a rise in bike transportation in Dublin. DublinBikes was introduced in 2009 and since then there have been major expansions throughout the city and this will further expand to areas surrounding the city.</p>
			<p>This application was developed to handle the rise of bike transportation in Dublin. DataCycle visualises the data that is made available through the <a href="https://developer.jcdecaux.com/#/home" class="jcLink">JCDecaux Developer API</a>.</p>
			<p>DataCycle displays a full list of stations with the most relevant information. Each station can be selected and more information is displayed. DataCycle also acts as a Management tool, visualising collections of data in graphical representations.</p>

			<span></span>
			<p>DataCycle was developed using the MEAN stack, this stands for MongoDB, Express, AngularJS and Node.js.</p>
		</section>
	</div>

	<div class="col-md-offset-2 col-md-8">
		<div class="meanContainer"><center><img src="img/mean.png" class="img-responsive"></center></div>
	</div>
</section>