<div id="sidebar" class="nav-collapse hideSidebar" style="overflow:hidden; outline:none">
  <div class="menu">
    <span class="menuClose"><i class="fa fa-close"></i></span>
    <ul class="sidebarMenu" id="nav-accordion">
      <li><a ng-href="#/" class="linkClose"><i class="fa fa-map-marker"></i><span> Stations</span></a></li>
      <li><a ng-href="#/analytics" class="linkClose"><i class="fa fa-area-chart"></i><span> Analytics</span></a></li>
      <li><a ng-href="#/about" class="linkClose"><i class="fa fa-info-circle"></i><span> About</span></a></li>
    </ul>
  </div>
</div>